/* General designs, like header and footer designs or defined colors are here */
/* all fonts in public/static/fonts are not obligatory. So you should remove some of them in proper time */

:root {
    --light-green: #cce7cc;
    --over-green: #f8ecd6;
    --dark-blue: #0a0e3e;
    --med-blue: #3b5dd7;
    --dark-white: #ebe5e5;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: Parastoo;
    src: url('../../public/static/fonts/Parastoo.eot');
    src: url('../../public/static/fonts/Parastoo.eot?#iefix') format('embedded-opentype'),
         url('../../public/static/fonts/Parastoo.woff2') format('woff2'),
         url('../../public/static/fonts/Parastoo.woff') format('woff'),
         url('../../public/static/fonts/Parastoo.ttf') format('truetype');
    font-weight: normal;
}
  
@font-face {
font-family: Parastoo;
src: url('../../public/static/fonts/Parastoo-Bold.eot');
src: url('../../public/static/fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/static/fonts/Parastoo-Bold.woff2') format('woff2'),
        url('../../public/static/fonts/Parastoo-Bold.woff') format('woff'),
        url('../../public/static/fonts/Parastoo-Bold.ttf') format('truetype');
font-weight: bold;
}

p, h3 {
    margin-bottom: 0;
}
#header {
    background-color: var(--light-green);
    text-align: right;
    font-family: Parastoo; 
    padding: 1% 0;
}
#header h3 {
    display: inline;
}

#header-row {
    align-items: center;
}

#level-content {
    text-align: left;
}
#level-content span {
    background-color: var(--med-blue);
    color: var(--dark-white);
    padding: 1.7% 6%;
    border-radius: 20px;
}
#footer {
    font-family: Parastoo;
    position: absolute;
    width: 100%;
    background-color: var(--dark-blue);
    color: var(--dark-white);
    bottom: 0;
    min-height: 10%;
    text-align: right;
    align-items: center;
}

#footer-content p {
    text-align: center;
}