/* General designs, like header and footer designs or defined colors are here */
/* all fonts in public/static/fonts are not obligatory. So you should remove some of them in proper time */

:root {
    --green: #316229;
    --over-green: #f8ecd6;
}

html {
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: Parastoo;
    src: url('../../public/static/fonts/Parastoo.eot');
    src: url('../../public/static/fonts/Parastoo.eot?#iefix') format('embedded-opentype'),
         url('../../public/static/fonts/Parastoo.woff2') format('woff2'),
         url('../../public/static/fonts/Parastoo.woff') format('woff'),
         url('../../public/static/fonts/Parastoo.ttf') format('truetype');
    font-weight: normal;
}
  
@font-face {
font-family: Parastoo;
src: url('../../public/static/fonts/Parastoo-Bold.eot');
src: url('../../public/static/fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/static/fonts/Parastoo-Bold.woff2') format('woff2'),
        url('../../public/static/fonts/Parastoo-Bold.woff') format('woff'),
        url('../../public/static/fonts/Parastoo-Bold.ttf') format('truetype');
font-weight: bold;
}

p, h3 {
    margin-bottom: 0;
}

header {
    background-color: var(--green);
    color: var(--over-green);
    font-family: Parastoo;
    font-weight: normal;
    direction: rtl;
    padding: 1%;
}

header div.col, footer div.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: var(--green);
    color: var(--over-green);
    font-family: Parastoo;
    font-weight: normal;
    direction: rtl;
    position: absolute;
    bottom: 0;
}
